@using ASP_4.Helpers
@using ASP_4.Models
@{
    Layout = null;
    List<Book> books = ViewBag.Book;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Style.css" />
    <title>Book List</title>
</head>
<body>
    <div class="title_form">
        <h1>Table Book</h1>
    </div>
<div class="div_table">
    @Html.BookTable(books)
</div>
<div class="menu">
    @Html.RouteLink("Add Publisher", new {controller = "Home", action = "Index"})
    @Html.RouteLink("Publisher List", new {controller = "Home", action = "Show_Table"})
    @Html.RouteLink("Add Author", new {controller = "Author", action = "Index"})
    @Html.RouteLink("Author List", new {controller = "Author", action = "Show_Table"})
    @Html.ActionLink("Add Book", "Index")
    @Html.ActionLink("Book List", "Show_Table")
</div>
</body>
</html>
